
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

<script>
function submitDemoFile() {
    // Get the path to the demo CSV file
    var demoFilePath = document.getElementById('demoFilePath').value;

    // Fetch the demo CSV file
    fetch(demoFilePath)
        .then(response => response.text())
        .then(data => {
            // Create a Blob from the file data
            var file = new Blob([data], {type: 'text/csv'});

            // Create a FormData object
            var formData = new FormData();

            // Append the Blob to the FormData object
            formData.append('file', file, 'events.csv');

            // Append the CSRF token to the FormData object
            var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            formData.append('csrfmiddlewaretoken', csrfToken);

            // Submit the form
            fetch('/', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.redirected) {
                    // If the response contains a redirect, follow the redirect
                    window.location.href = response.url;
                }
            });
        });
}
</script>

<div class="container">
    <h1>Welcome, {{ email }}</h1>
    <h2>Plot Events on a Radial Calendar</h2>
    
    <h3>Upload CSV</h3>
        <form method="post" enctype="multipart/form-data">
            <div class="form_opts">
            <input type="hidden" id="demoFilePath" value="{% static 'events.csv' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
            </div>
        </form>

    <div class="data_table">
    <h3>Example</h3>
        <button type="button" onclick="submitDemoFile()">Load Example</button>
        <a href="{% static 'events.csv' %}" download>
            <button type="button">Download Example</button>
        </a>
    <table>
        <thead>
            <tr>
                <th>Label</th>
                <th>MM/DD/YYYY</th>
            </tr>
        </thead>
            <tr>
        <tr>
            <td>Declaration of American Independence</td>
            <td>07/04/1776</td>
        </tr>
        <tr>
            <td>French Revolution begins</td>
            <td>07/14/1789</td>
        </tr>
        <tr>
            <td>First powered flight by the Wright Brothers</td>
            <td>12/17/1903</td>
        </tr>
        <tr>
            <td>End of World War I</td>
            <td>11/11/1918</td>
        </tr>
        <tr>
            <td>Stock Market Crash of 1929</td>
            <td>10/29/1929</td>
        </tr>
        <tr>
            <td>Attack on Pearl Harbor</td>
            <td>12/07/1941</td>
        </tr>
        <tr>
            <td>End of World War II</td>
            <td>09/02/1945</td>
        </tr>
        <tr>
            <td>First human on the Moon</td>
            <td>07/20/1969</td>
        </tr>
        <tr>
            <td>Fall of the Berlin Wall</td>
            <td>11/09/1989</td>
        </tr>
        <tr>
            <td>9/11 Terrorist Attacks</td>
            <td>09/11/2001</td>
        </tr>
        <tbody>
            <!-- Table data will go here -->
        </tbody>
    </table>
    </div>

<div class="footer">
    <a href="https://github.com/qrkourier/zrok_django_radial_calendar#readme">Source in GitHub</a>
</div>    
</div>